body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    
}
.btn{
    height: 75px;
    width: 75px;
    margin: 15px;
    font-size: 40px;
}
.number{    
    border: 1px solid rgb(130, 177, 61);
    border-radius: 10px;

}
.operator{
    border: 1px solid steelblue;
    border-radius: 10px;
}
.decimal{
    border: 1px solid orange;
    border-radius: 10px;
}
.clear btn {
    position: absolute;
    top: 100px;

    
}
.first-row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.screen{
    width: 300px;
    border: 1px solid black;
    height: 75px;
    position: relative;
    top: 50px;
    left: 100px;
    
}
