body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    
}
.btn{
    height: 75px;
    width: 75px;
    margin: 15px;
    font-size: 40px;
}
.number{    
    border: 1px solid rgb(130, 177, 61);
    border-radius: 10px;

}
.operator{
    border: 1px solid steelblue;
    border-radius: 10px;
}
.decimal{
    border: 1px solid orange;
    border-radius: 10px;
}
